**/build/**
*.build.sh
*.import.scm
*.install.sh
*.link
*.o
*.so
*~
.DS_Store
.\#*
.\#*
*.cmi
*.cmo
*.cmx
.depend
.what-sys.dat
.~
.~*\#
Src/Ocaml/binmod
Src/Ocaml/ocamlize
Src/Ocaml/xpmtoocaml
Src/OCamlGTK/gpe/gpe
Src/OCamlGTK/gpe/gpe_icons.ml
Src/OCamlGTK/gtimer/boxes.ml
Src/OCamlGTK/gtimer/gtimer_icon.ml
Src/OCamlGTK/gtimer/gtimer
Src/OcamlTk/animgif
Src/OcamlTk/animxbm
Src/OcamlTk/countdown
Src/OcamlTk/demo
Src/OcamlTk/getsel
Src/OcamlTk/startbrowser
Src/Forth/Gforth/build
\#*\#
\#*\#
*.adb.stderr
*.adb.stdout
*.ali
*.bexch
b__*.adb
b__*.ads
**/bin/**
