**/bin/**
**/build/**
*.adb.stderr
*.adb.stdout
*.ali
*.bexch
*.build.sh
*.cmi
*.cmo
*.cmx
*.import.scm
*.install.sh
*.link
*.o
*.so
*~
.DS_Store
.\#*
.\#*
.depend
.what-sys.dat
.~
.~*\#
Src/Forth/Gforth/build
Src/OCamlGTK/gpe/gpe
Src/OCamlGTK/gpe/gpe_icons.ml
Src/OCamlGTK/gtimer/boxes.ml
Src/OCamlGTK/gtimer/gtimer
Src/OCamlGTK/gtimer/gtimer_icon.ml
Src/Ocaml/binmod
Src/Ocaml/ocamlize
Src/Ocaml/xpmtoocaml
Src/OcamlTk/animgif
Src/OcamlTk/animxbm
Src/OcamlTk/countdown
Src/OcamlTk/demo
Src/OcamlTk/getsel
Src/OcamlTk/startbrowser
Src/changecase
Src/chopext
Src/cwipe
Src/cygmodpath
Src/datetime
Src/filldisk
Src/fromunits
Src/gethostnames
Src/grepgroup
Src/increment
Src/iso8601
Src/llc
Src/md5tree
Src/nicepath
Src/nospaces
Src/ocaml_su
Src/ordinalday
Src/pad
Src/printerr
Src/randomline
Src/randomn
Src/re
Src/re2
Src/snooze
Src/split
Src/spwn
Src/timer
Src/tkbsetup
Src/topath
Src/tounits
Src/truncfile
Src/unixtime
Src/unod-b
Src/what-sys
Src/wipe
Src/words
\#*\#
\#*\#
b__*.adb
b__*.ads
