**/build/**
*.build.sh
*.import.scm
*.install.sh
*.link
*.o
*.so
*~
.DS_Store
.\#*
.\#*
.depend
.what-sys.dat
.~
.~*\#
Src/Ocaml/binmod
Src/Ocaml/binmod.cmi
Src/Ocaml/binmod.cmo
Src/Ocaml/ocamlize
Src/Ocaml/ocamlize.cmi
Src/Ocaml/ocamlize.cmo
Src/Ocaml/xpmtoocaml.cmo
Src/Ocaml/xpmtoocaml.cmi
Src/Ocaml/xpmtoocaml
Src/OcamlTk/animgif
Src/OcamlTk/animgif.cmi
Src/OcamlTk/animgif.cmx
Src/OcamlTk/animxbm
Src/OcamlTk/animxbm.cmi
Src/OcamlTk/animxbm.cmx
Src/OcamlTk/countdown
Src/OcamlTk/countdown.cmi
Src/OcamlTk/countdown.cmx
Src/OcamlTk/demo
Src/OcamlTk/demo.cmi
Src/OcamlTk/demo.cmx
Src/OcamlTk/getsel
Src/OcamlTk/getsel.cmi
Src/OcamlTk/getsel.cmx
Src/OcamlTk/startbrowser
Src/OcamlTk/startbrowser.cmi
Src/OcamlTk/startbrowser.cmx
\#*\#
\#*\#
